---
// Astro component script (frontmatter script)
// Define any necessary server-side or component-level logic here.
---

<div>
  <script type="module">
    import Runno from "https://cdn.skypack.dev/@runno/runtime";
    console.log("Runno loaded:", Runno);
  </script>

  <runno-run runtime="python" editor controls  fs-url="/numpy-1.26.4.tar.gz">
    print("What's your name?")
  </runno-run>
</div>
